server:
  host: "0.0.0.0"
  port: 8080

database:
  host: "localhost"
  port: 5432
  user: "wslu"
  password: "postgres"
  dbname: "postgres"
  sslmode: "disable"

log:
  level: "info"
  format: "json"
  output: "stdout"

